@charset "UTF-8";
*{
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(imagens/580966.jpg);
    background-attachment: fixed;   
}

main{
    margin: auto;
    width: 95%;
    max-width: 1200px;
    border-radius: 10px;
    background-color: aliceblue;
}

table{
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


th,td{

    border: 1px solid black;
    padding: 10px;
    background-color: #fff9f9c7;
    
}
tr:nth-child(odd) { 
    background-color: rgba(150, 162, 214, 0.822);
}
h1{
    background:linear-gradient(to bottom, #445bfe,#7162fc) ;
    text-align: center;
    padding: 10px;
}

#menu{
    background-color: #7162fc;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

a:hover{
    background-color: rgba(11, 11, 238, 0.562);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
h2{
    background: linear-gradient(to bottom, #448efe,#9f62fc) ;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;

}
