@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

*{
    margin: 0px;
}
body{
    background-image: url(imagens/580966.jpg);
    background-attachment: fixed;   
}

/*MENU*/
h1{
    font-family: "Sanchez",serif;
    background:linear-gradient(to bottom, #283ff0,#6da7eb) ;
    text-align: center;
    padding: 10px;
}
#menu{
    background-color: #6da7eb;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

hr{
    height: 1px;
    border: none;
    background-color: rgb(0, 0, 0);
}
a{  
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: 5px;
}

a:hover{
    background-color: rgba(11, 109, 238, 0.562);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

/*TABELA*/
table{
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

th,td{
    border: 1px solid black;
    padding: 10px;
    background-color: #fff9f9c7;
    
}
tr:nth-child(odd) { 
    background-color: rgba(150, 162, 214, 0.822);
}
#mobile{
    overflow-x: auto;
}

/*TITULOS*/
h2{

    margin-top: 30px;
    margin-bottom: 30px;
    background:linear-gradient(to bottom, #2a42f3b0,#6da7eb) ;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

/*CRIADOR*/
footer{
    margin-top: 30px;
    background-color: rgba(253, 249, 249, 0.747);
    text-align: center;
}
footer  a:hover{
    text-decoration: none;
    padding: 2px;
    border-radius: 0px;
}