@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

*{
    margin: 0px;
}
body{
    background-image: url(imagens/580966.jpg);
    background-attachment: fixed;   
}



table{
    font-family: "Lato";
    font-weight: 700;
    font-style: normal;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


th,td{
    
    border: 1px solid black;
    padding: 10px;
    background-color: #fff9f9c7;
    
}
tr:nth-child(odd) { 
    background-color: rgba(150, 162, 214, 0.822);
}
#mobile{
    overflow-x: auto;
}
h1{
    font-family: "Sanchez",serif;
    background:linear-gradient(to bottom, #445bfe,#7162fc) ;
    text-align: center;
    padding: 10px;
}

#menu{
    background-color: #7162fc;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

hr{
    height: 1px;
    border: none;
    background-color: rgb(0, 0, 0);
}

a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

a:hover{
    background-color: rgba(11, 11, 238, 0.562);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
h2{
    background: linear-gradient(to bottom, #448efe,#9f62fc) ;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
}
footer{
    margin-top: 30px;
    background-color: rgba(253, 249, 249, 0.747);
    text-align: center;
}