@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');


*{
    margin: 0px;
    text-align: justify;
}


body{
    background-image: url(580966.jpg);
    background-attachment: fixed;   
}
main{
    font-family: "Lato";
    font-weight: 500;
    padding: 15px;
    padding-bottom: 30px;
    margin: auto;
    width: 85%;
    max-width: 1200px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.753);
}

/*MENU*/
h1{
    font-family: "Sanchez",serif;
    background:linear-gradient(to bottom, #283ff0,#6da7eb) ;
    text-align: center;
    padding: 10px;
}
.menu{
    font-size: 15px;
    font-family: "Sanchez",serif;
    background-color: #6da7eb;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.menu > a:hover{
    background-color: rgba(11, 109, 238, 0.562);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
hr{
    height: 1px;
    border: none;
    background-color: black;
}
a{
    text-decoration: none;
    color: rgb(12, 0, 0);
    margin: 10px;
}
main a{
    color: rgb(0, 17, 255);
}

/*TITULOS*/
h2{
    font-family: "Sanchez",serif;
    background:linear-gradient(to bottom, #001effa8,#6da7eb) ;
    text-align: center;
    border-radius: 10px;
    box-shadow: #30363d 3px 7px 8px 0px;
    font-size: 22px;
}

/*SIB-TITULOS*/
h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*TABELA*/
table{
    border-collapse: collapse;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
th{
    width: 200px;
}
td{
    width: 50%;
}
th,td{
    
    border: 1px solid black;
    padding: 10px;
    background-color: #fff9f98e;
    
}
tr:nth-child(odd) { 
    background-color: rgba(150, 162, 214, 0.822);
}

/*CRIADOR*/
footer{
    margin-top: 30px;
    background-color: rgba(253, 249, 249, 0.747);
    text-align: center;
}
footer  a:hover{
    text-decoration: none;
    padding: 2px;
    border-radius: 0px;
}
