@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

*{
    margin: 0px;
    text-align: justify;
}
body{
    background-image: url(580966.jpg);
    background-attachment: fixed;   
}

main{
    font-family: "Lato";
    font-weight: 500;
    padding: 15px;
    padding-bottom: 30px;
    margin: auto;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.753);
}
h1{
    font-family: "Sanchez",serif;
    background:linear-gradient(to bottom, #445bfe,#7162fc) ;
    text-align: center;
    padding: 10px;
}

.menu{
    font-family: "Sanchez",serif;
    background-color: #7162fc;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.menu > a:hover{
    background-color: rgba(11, 11, 238, 0.562);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: rgb(12, 0, 0);
    margin: 10px;
}

main  a{
    color: rgb(0, 17, 255);
}
h2{
    font-family: "Sanchez",serif;
    background: linear-gradient(to bottom, #448efe,#9f62fc) ;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
}
h3{
    padding-bottom: 10px;
    padding-top: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    max-width: 400px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-size: cover;
}

footer{
    background-color: rgba(253, 249, 249, 0.541);
    text-align: center;
}

.imagens{
    border-radius: 10px;
    padding-bottom: 50vw;
    background-size: contain;
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

#imagem1{
    background-image: url(1.png);
}
#imagem2{
    background-image: url(2.png);
}
#imagem3{
    background-image: url(3.png);
}
#imagem4{
    background-image: url(4-8.png);
}
#imagem5{
    background-image: url(5.jpg);
}
#imagem6{
    background-image: url(6.webp);
}
#imagem7{
    background-image: url(7.jpg);
}
#imagem8{
    background-image: url(9.png);
}